In [72]:
#import module
import os
import pandas as pd

In [73]:
# Create path for accessing data file
path = os.path.join("..", "Resources", "purchase_data.csv")

In [95]:
#read the file
purchase_data = pd.read_csv(path, index_col = "Purchase ID")

,SN,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88

In [96]:
purchase_data[:2]

,SN,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56

In [91]:
#Title

#print(Player)

In [93]:
# Total Number of Players

total_no_of_players = purchase_data["Item ID"].count()

#print ("Total number of players:") 

total_no_of_players

780

In [105]:
print(f"Purchasing Analysis (Total)\n\n")

# Number of Unique Items

no_of_unique_items = purchase_data["Item Name"]

no_of_unique_items

# Average Purchase Price

#average_purchase_price = 

# Total Number of Purchases

no_of_unique_purchases = purchase_data["SN"].nunique()
S
#no_of_unique_purchases

# Total Revenue

Purchasing Analysis (Total)

In [132]:
### Top Spenders

# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

top_spender = purchase_data.groupby["SN"].value_counts()

top_spenders
#purchase_date[]
  # SN
  # Purchase Count
  # Average Purchase PriceSS
  # Total Purchase Value
    
    
#SN_counts = purchase_data.groupby('Price').aggregate(sum)

#SSN_counts

TypeError: 'method' object is not subscriptable

In [115]:
#file_one_df.to_csv("Output/fileOne.csv", index=False, header=True)