Heroes Of Pymoli Data Analysis
============================

analysis

In [13]:
#import modules

import pandas as pd

In [14]:
input_path = "../Resources/purchase_data.csv"

In [15]:
purchase_data = pd.read_csv(input_path, index_col="Purchase ID")

In [16]:
## setting formatting for dataframe output

###header formatting
heading_format = [
  ('font-size', '14px'),
  ('text-align', 'center'),
  ('font-weight', 'bold'),
  ('background-color', '#CFCFCF')]

###body formatting
element_format = [('font-size', '13px')]

### put it together
styles = [dict(selector="th", props=heading_format),
         dict(selector="td", props=element_format)]

---

Player Count
------------------------

In [17]:
## Player Count

### pull Total Number of Players

no_of_players = purchase_data["SN"].nunique()

### insert output in dataframe for display

player_df = pd.DataFrame({"Total Players" : [no_of_players]})
    
player_df.style.set_table_styles(styles).hide_index()

---

Purchasing Analysis (Total)
------------------------

In [18]:
## Purchasing Analysis (Total)

### determine number of unique items

unique_items = purchase_data.groupby("Item Name")

no_unique_items = len(unique_items)

### determine average price

average_purchase_price = purchase_data["Price"].mean()

### determine total no of purchases

total_no_purchases = sum(purchase_data["Price"].value_counts())

### determine total revenue

total_revenue = sum(purchase_data["Price"])

### insert output in dataframe for display, including formatting

item_df = pd.DataFrame({
    "Number of Unique Items" : [no_unique_items], "Average Price" : [average_purchase_price], 
    "Number of Purchases" : [total_no_purchases], "Total Revenue" : [total_revenue]})
    
item_df.style.format({"Average Price": "${:,.2f}", "Total Revenue": "${:,.2f}"}).set_table_styles(styles).hide_index()

---

Gender Demographics
------------------------

In [26]:
## Gender Demographics

### create new dataframe stratified by gender

gender_strat_data = purchase_data.groupby("Gender")

### determine counts by gender

gender_counts = gender_strat_data["SN"].nunique()

### insert column for percentage by gender

gender_percent = gender_strat_data["SN"].nunique()/sum(gender_strat_data["SN"].nunique())

###Display Percentage and Count of Players by Gender, including formatting

gender_total_df = pd.DataFrame({"Total Count" : gender_counts, 
                                "Percentage of Players" : gender_percent})

gender_total_df_sorted = gender_total_df.sort_values("Percentage of Players", ascending = False)

gender_total_df_sorted.style.format({"Percentage of Players": "{:,.2%}"}).set_table_styles(styles)

---

Purchasing Analysis (Gender)
------------------------

In [123]:
## Purchasing Analysis(Gender)

### pull purchase count

purchase_count_gender = gender_strat_data["Item Name"].count()

### pull average purchase price

purchase_average_price_gender = gender_strat_data["Price"].mean()

### pull total purchase value

total_purchase_gender = gender_strat_data["Price"].sum()

### pull average total purchase per person

average_total_purchase_gender = total_purchase_gender/gender_strat_data["SN"].nunique()

### Display Gender Analysis, including formatting

gender_analysis = pd.DataFrame({"Purchase Count" : purchase_count_gender, 
                                "Average Purchase Price" : purchase_average_price_gender,
                                "Total Purchase Value" : total_purchase_gender,
                                "Avg Total Purchase per Person" : average_total_purchase_gender})

gender_analysis_sorted = gender_analysis.sort_values("Avg Total Purchase per Person", ascending = False)

gender_analysis_sorted.style.format({"Average Purchase Price" : "${:,.2f}", 
                              "Total Purchase Value" : "${:,.2f}", 
                              "Avg Total Purchase per Person" : "${:,.2f}"}).set_table_styles(styles)

---

Age Demographics
------------------------

In [28]:
## Age Demographics

#create and implement age bins

age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_df = purchase_data

age_df["Age Group"] = pd.cut(age_df["Age"], age_bins, labels=age_labels, include_lowest=True)

age_strat_data = age_df.groupby("Age Group")

### determine counts by age

age_counts = age_strat_data["SN"].nunique()

#age_counts.columns =["Total Count"]

### insert column for percentage by gender

age_percent = age_strat_data["SN"].nunique()/sum(age_strat_data["SN"].nunique())

###Display Percentage and Count of Players by age, including formatting

age_total_df = pd.DataFrame({"Total Count" : age_counts, 
                             "Percentage of Players" : age_percent})

age_total_df.style.format ({"Percentage of Players" : "{:,.2%}"}).set_table_styles(styles)

---

Purchasing Analysis (Age)
------------------------

In [111]:
## Purchasing Analysis(Age)

### pull purchase count

purchase_count_age = age_strat_data["Item Name"].count()

### pull average purchase price

purchase_average_price_age = age_strat_data["Price"].mean()

### pull total purchase value

total_purchase_age = age_strat_data["Price"].sum()

### pull average total purchase per person

average_total_purchase_age = total_purchase_age/age_strat_data["SN"].nunique()

### Display Gender Analysis, including formatting

age_analysis = pd.DataFrame({"Purchase Count" : purchase_count_age, 
                                "Average Purchase Price" : purchase_average_price_age,
                                "Total Purchase Value" : total_purchase_age,
                                "Avg Total Purchase per Person" : average_total_purchase_age})

age_analysis.style.format({"Average Purchase Price" : "${:,.2f}", 
                              "Total Purchase Value" : "${:,.2f}", 
                              "Avg Total Purchase per Person" : "${:,.2f}"}).set_table_styles(styles)

---

Top Spenders
------------------------

In [30]:
## Top Spenders

### create new dataframe stratified by SN

SN_strat_data = purchase_data.groupby("SN")

### pull purchase count

purchase_count_SN = SN_strat_data["Item Name"].count()

### pull average purchase price

purchase_average_price_SN = SN_strat_data["Price"].mean()

### pull total purchase value

total_purchase_SN = SN_strat_data["Price"].sum()

### Create dataframe

SN_analysis = pd.DataFrame({"Purchase Count" : purchase_count_SN, 
                            "Average Purchase Price" : purchase_average_price_SN,
                            "Total Purchase Value" : total_purchase_SN})
### sort       
SN_analysis_sorted = SN_analysis.sort_values("Total Purchase Value", ascending = False)

### select top spenders

top_spenders = SN_analysis_sorted.iloc[0:5]

### format output

top_spenders.style.format({"Average Purchase Price" : "${:,.2f}", 
                              "Total Purchase Value" : "${:,.2f}"}).set_table_styles(styles)

---

Most Popular Items
------------------------

In [114]:
## Most Popular Items

### create new dataframe stratified by Item ID and Name

item_strat_data = purchase_data.groupby(["Item ID", "Item Name"])

### pull purchase count

purchase_count_item = item_strat_data["Item Name"].count()

#item_price = item_strat_data["Item Name"]

item_price = item_strat_data["Price"].mean()

### pull total purchase 

total_purchase_item = item_strat_data["Price"].sum()

### Create dataframe

item_analysis = pd.DataFrame({"Purchase Count" : purchase_count_item,
                              "Item Price" : item_price,
                              "Total Purchase Value" : total_purchase_item})
### sort     

item_analysis_sorted = item_analysis.sort_values("Purchase Count", ascending = False)

### format output

item_analysis_formatted = item_analysis_sorted.head(10).style.format({"Item Price" : "${:,.2f}", 
                                                                      "Total Purchase Value" : "${:,.2f}"}).set_table_styles(styles)

item_analysis_formatted

---

Most Profitable Items
------------------------

In [116]:
### sort     

item_analysis_sorted_by_total = item_analysis.sort_values("Total Purchase Value", ascending = False)

### format output

item_analysis_formatted_sorted_by_total = item_analysis_sorted_by_total.head(10).style.format({"Item Price" : "${:,.2f}", 
                                                                      "Total Purchase Value" : "${:,.2f}"}).set_table_styles(styles)
item_analysis_formatted_sorted_by_total