Heroes Of Pymoli Data Analysis
============================

* Females represent a target segment for increasing revenue given that they are only 14.06% of players while at the same time spend $0.40 more on average than their male counterparts. 

* Similarily, the age group that spends the most on average are aged 35 to 39 years old (spending $4.76 on average) yet they represent less than 1 in 10 of players (9.03%).

* 'Final Critics' and 'Oathbreaker, Last Hope of the Breaking Storm' are both the most popular (13, 12 purchases, respectively) and the profitable games (total purchase value of $59.99 and 50.76 respectively)

In [1]:
#import modules

import pandas as pd

In [2]:
input_path = "../Resources/purchase_data.csv"

In [3]:
purchase_data = pd.read_csv(input_path, index_col="Purchase ID")

In [11]:
## setting formatting for dataframe output

###header formatting
heading_format = [
  ('font-size', '14px'),
  ('text-align', 'Left'),
  ('font-weight', 'bold'),
  ('background-color', '#CFCFCF')]

###body formatting
element_format = [('font-size', '13px'), 
                  ('text-align', 'Left')]

###caption formatting

caption_element = [
  ('font-size', '15px'),
  ('text-align', 'center'),
  ('font-weight', 'bold')]

### put it together
styles = [dict(selector="th", props=heading_format),
          dict(selector="td", props=element_format),  
          dict(selector="caption", props=caption_element)]

---

Player Count
------------------------

In [33]:
## Player Count

### insert output in dataframe

player_df = pd.DataFrame({"Total Players" : [purchase_data["SN"].nunique()]})
    
player_df.style.set_caption("Total Number of Players"
              ).set_table_styles(styles
              ).hide_index()

---

Purchasing Analysis (Total)
------------------------

In [34]:
## Purchasing Analysis (Total)

### insert output in dataframe

item_df = pd.DataFrame({
    
    "Number of Unique Items" : [len(purchase_data.groupby("Item Name"))], 
    "Average Price" : [purchase_data["Price"].mean()], 
    "Number of Purchases" : [sum(purchase_data["Price"].value_counts())], 
    "Total Revenue" : [sum(purchase_data["Price"])]})

### format and display output

item_df.style.set_caption("Purchasing Analysis of Total Players"
            ).format({"Average Price": "${:,.2f}", 
                      "Total Revenue": "${:,.2f}"}
            ).set_table_styles(styles
            ).hide_index()

---

Gender Demographics
------------------------

In [27]:
## Gender Demographics

### create new dataframe stratified by gender

gender_strat_data = purchase_data.groupby("Gender")

### create dataframe inclusive of analysis steps
gender_total_df = pd.DataFrame({
                            
    "Total Count" : gender_strat_data["SN"].nunique(), 
    "Percentage of Players" : gender_strat_data["SN"].nunique()/sum(gender_strat_data["SN"].nunique())})

gender_total_df_sorted = gender_total_df.sort_values("Percentage of Players", ascending = False)

###Display Percentage and Count of Players by Gender, including formatting

gender_total_df_sorted.style.set_caption("Gender Demograpics"
                            ).format({"Percentage of Players": "{:,.2%}"}
                            ).set_table_styles(styles)

---

Purchasing Analysis (Gender)
------------------------

In [26]:
## Purchasing Analysis(Gender)

### create dataframe inclusive of analysis steps

gender_analysis = pd.DataFrame({
    
    "Purchase Count" : gender_strat_data["Item Name"].count(), 
    "Average Purchase Price" : gender_strat_data["Price"].mean(),
    "Total Purchase Value" : gender_strat_data["Price"].sum(),
    "Avg Total Purchase per Person" : total_purchase_gender/gender_strat_data["SN"].nunique()})

### sort by avg purchase total
gender_analysis_sorted = gender_analysis.sort_values(
                                               "Avg Total Purchase per Person", ascending = False)

### Display Analysis, including formatting

gender_analysis_sorted.style.format({
                             "Average Purchase Price" : "${:,.2f}", 
                              "Total Purchase Value" : "${:,.2f}", 
                              "Avg Total Purchase per Person" : "${:,.2f}"}
                            ).set_caption("Purchasing Analysis by Gender"
                            ).set_table_styles(styles)

---

Age Demographics
------------------------

In [46]:
## Age Demographics

#create and implement age bins

age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_df = purchase_data

age_df["Age Group"] = pd.cut(age_df["Age"], age_bins, labels=age_labels, include_lowest=True)

age_strat_data = age_df.groupby("Age Group")

### determine for percentage by gender

age_percent = age_strat_data["SN"].nunique()/sum(age_strat_data["SN"].nunique())

### insert findings into dataframe
age_total_df = pd.DataFrame({
    
    "Total Count" : age_strat_data["SN"].nunique(), 
    "Percentage of Players" : age_percent})

###Display Percentage and Count of Players by age, including formatting
age_total_df.style.set_caption("Age Demographics"
                 ).format ({"Percentage of Players" : "{:,.2%}"}
                 ).set_table_styles(styles)

---

Purchasing Analysis (Age)
------------------------

In [50]:
## Purchasing Analysis(Age)

### Insert output into dataframe, inclusive of analysis steps
age_analysis = pd.DataFrame({
    
    "Purchase Count" : age_strat_data["Item Name"].count(), 
    "Average Purchase Price" : age_strat_data["Price"].mean(),
    "Total Purchase Value" : age_strat_data["Price"].sum(),
    "Avg Total Purchase per Person" : total_purchase_age/age_strat_data["SN"].nunique()})

### Display Gender Analysis, including formatting
age_analysis.style.set_caption(
                            "Purchasing Analysis by Age Group"
                    ).format({"Average Purchase Price" : "${:,.2f}", 
                              "Total Purchase Value" : "${:,.2f}", 
                              "Avg Total Purchase per Person" : "${:,.2f}"}
                    ).set_table_styles(styles)

---

Top Spenders
------------------------

In [56]:
## Top Spenders

### create new dataframe stratified by SN

SN_strat_data = purchase_data.groupby("SN")

### Create dataframe inclusive of analysis steps

SN_analysis = pd.DataFrame({"Purchase Count" : SN_strat_data["Item Name"].count(), 
                            "Average Purchase Price" : SN_strat_data["Price"].mean(),
                            "Total Purchase Value" : SN_strat_data["Price"].sum()})
### sort       
SN_analysis_sorted = SN_analysis.sort_values("Total Purchase Value", ascending = False)

### format output

top_spenders.head(5
                 ).style.set_caption("Top Five Players by Total Purchase Value"
                       ).format({
                            "Average Purchase Price" : "${:,.2f}", 
                            "Total Purchase Value" : "${:,.2f}"}
                       ).set_table_styles(styles)

---

Most Popular Items
------------------------

In [57]:
## Most Popular Items

### create new dataframe stratified by Item ID and Name

item_strat_data = purchase_data.groupby(["Item ID", "Item Name"])

### Create dataframe inclusive of analysis steps

item_analysis = pd.DataFrame({"Purchase Count" : item_strat_data["Item Name"].count(),
                              "Item Price" : item_strat_data["Price"].mean(),
                              "Total Purchase Value" : item_strat_data["Price"].sum()})
### sort     

item_analysis_sorted = item_analysis.sort_values("Purchase Count", ascending = False)

### format output

item_analysis_formatted = item_analysis_sorted.head(5
                                             ).style.set_caption("Top 5 Items by Number Purchased"
                                                   ).format({
                                                            "Item Price" : "${:,.2f}", 
                                                            "Total Purchase Value" : "${:,.2f}"}
                                                   ).set_table_styles(styles)

item_analysis_formatted

---

Most Profitable Items
------------------------

In [23]:
### sort     

item_analysis_sorted_by_total = item_analysis.sort_values("Total Purchase Value", ascending = False)

### format output

item_analysis_formatted_sorted_by_total = item_analysis_sorted_by_total.head(5
                                                                      ).style.set_caption("Top 5 Items by Total Purchase Value"
                                                                            ).format({
                                                                                      "Item Price" : "${:,.2f}", 
                                                                                      "Total Purchase Value" : "${:,.2f}"}
                                                                      ).set_table_styles(styles)
item_analysis_formatted_sorted_by_total