District-Wide Standardized Test Results Analysis
===

In [462]:
### import library
import pandas as pd

### File paths
school_input_path = "../Resources/schools_complete.csv"
student_input_path = "../Resources/students_complete.csv"

### Read data files and store into Pandas DataFrames
school_data = pd.read_csv(school_input_path)
student_data = pd.read_csv(student_input_path)

### Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left",
                                on=["school_name", "school_name"])

In [463]:
## setting formatting for dataframe output

###header formatting
heading_format = [
  ('font-size', '14px'),
  ('text-align', 'right'),
  ('font-weight', 'bold'),
  ('background-color', '#CFCFCF')]

###body formatting
element_format = [('font-size', '13px')]

###caption formatting

caption_element = [
  ('font-size', '15px'),
  ('text-align', 'center'),
  ('font-weight', 'bold')]

### put it together
styles = [dict(selector="th", props=heading_format),
         dict(selector="td", props=element_format), 
         dict(selector="caption", props=caption_element)]

###formating column header names (display formatting)

school_data_complete_renamed = school_data_complete.rename(columns = {"school_name" : "School Name", 
                                                                      "type" : "School Type"})

In [464]:
### hide warnings (to achieve uninterrupted output)

import warnings;
warnings.filterwarnings('ignore')

 ---
 
 District Summary
---

In [504]:
###create dataframes with students achieving passing scores (70 or greater)

passing_math = school_data_complete_renamed.loc[school_data_complete_renamed["math_score"] >= 70, :]

passing_reading = school_data_complete_renamed.loc[school_data_complete["reading_score"] >= 70, :]

passing_overall = school_data_complete_renamed.loc[(school_data_complete_renamed["math_score"] >= 70) 
                                           & (school_data_complete_renamed["reading_score"] >= 70), :]

###create dataframe with findings (inclusive of calculation steps)

summary_df = pd.DataFrame({"Total Schools" : school_data_complete_renamed["School Name"].nunique(),
                          "Total Students" : school_data_complete_renamed["Student ID"].count(),
                          "Total Budget": sum(indiv_school_df["budget"].unique()), 
                         "Average Math Score" : school_data_complete_renamed["math_score"].mean(), 
                         "Average Reading Score" : school_data_complete_renamed["reading_score"].mean(), 
                          "% Passing Math" : passing_math["Student ID"].count()/school_data_complete_renamed["Student ID"].count(),
                         "% Passing Reading" : passing_reading["Student ID"].count()/school_data_complete_renamed["Student ID"].count(), 
                         "% Overall Passing" : passing_overall["Student ID"].count()/school_data_complete_renamed["Student ID"].count()})

###format and display findings 

summary_df.style.set_caption("District Level Results").format({"Total Schools": "{:,}", "Total Students" : "{:,}", 
                        "Total Budget" : "${:,}", "Average Math Score" : "{:,.3f}", 
                         "Average Reading Score" : "{:,.3f}", "% Passing Math": "{:,.2%}", 
                         "% Passing Reading": "{:,.2%}", "% Overall Passing" : "{:,.2%}"}).set_table_styles(styles).hide_index()

___


School Summary
---

In [466]:

###stratify data by school name and type

school_grouped_data = school_data_complete_renamed.groupby(["School Name", "School Type"])

school_grouped_data_passing_math = passing_math.groupby(["School Name", "School Type"])

school_grouped_data_passing_reading = passing_reading.groupby(["School Name", "School Type"])

school_grouped_data_passing_overall = passing_overall.groupby(["School Name", "School Type"])

###create dataframe (inclusive of steps to create series)

school_summary_df = pd.DataFrame({
                        "Total Students" : school_grouped_data["Student ID"].count(),
                        "Total School Budget": school_grouped_data["budget"].unique(), 
                        "Per Student Budget": school_grouped_data["budget"].unique()/school_grouped_data["Student ID"].nunique(), 
                        "Average Math Score" : school_grouped_data["math_score"].mean(), 
                        "Average Reading Score" : school_grouped_data["reading_score"].mean(),  
                        "% Passing Math" : school_grouped_data_passing_math["Student ID"].count()/school_grouped_data["Student ID"].count(),
                        "% Passing Reading" : school_grouped_data_passing_reading["Student ID"].count()/school_grouped_data["Student ID"].count(), 
                        "% Overall Passing" : school_grouped_data_passing_overall["Student ID"].count()/school_grouped_data["Student ID"].count()})

###change objects to series to allow for formatting

school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].astype(int)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].astype(int)

###format and display findings

school_summary_df.style.set_caption("School Level Results").format({"Total Students" : "{:,}", 
                        "Total School Budget" : "${:,}", "Per Student Budget" : "${:,}",
                        "Average Math Score" : "{:,.3f}", "Average Reading Score" : "{:,.3f}", 
                        "% Passing Math": "{:,.2%}", "% Passing Reading": "{:,.2%}",
                        "% Overall Passing" : "{:,.2%}"}).set_table_styles(styles)

---

Top Performing Schools (By % Overall Passing)
---

In [467]:
###sort the dataframe

school_summary_df_sorted = school_summary_df.sort_values("% Overall Passing", ascending=False)

###format and display top 5 findings

school_summary_df_sorted.head(5).style.set_caption("Top Five Performing Schools by Percentage Passing Overall").format({
                        "Total Students" : "{:,}", 
                        "Total School Budget" : "${:,}", "Per Student Budget" : "${:,}",
                        "Average Math Score" : "{:,.3f}", "Average Reading Score" : "{:,.3f}", 
                        "% Passing Math": "{:,.2%}", "% Passing Reading": "{:,.2%}",
                        "% Overall Passing" : "{:,.2%}"}).set_table_styles(styles)

---

Bottom Performing Schools (By % Overall Passing)
---

In [468]:

###format and display top 5 findings

school_summary_df_sorted.tail(5).style.format({"Total Students" : "{:,}", 
                                               "Total School Budget" : "{:,}", 
                                               "Per Student Budget" : "${:,}",
                                               "Average Math Score" : "{:,.3f}", 
                                               "Average Reading Score" : "{:,.3f}", 
                                               "% Passing Math": "{:,.2%}", "% Passing Reading": "{:,.2%}",
                                               "% Overall Passing" : "{:,.2%}"}).set_caption("Bottom Five Performing Schools by Percentage Passing Overall").set_table_styles(styles)

---

Math Scores by Grade
---

In [469]:
###create dataframes by grade

nineth_grade_data = school_data_complete_renamed.loc[school_data_complete_renamed["grade"] == "9th", :]

tenth_grade_data = school_data_complete_renamed.loc[school_data_complete_renamed["grade"] == "10th", :]

eleventh_grade_data = school_data_complete_renamed.loc[school_data_complete_renamed["grade"] == "11th", :]

twelth_grade_data = school_data_complete_renamed.loc[school_data_complete_renamed["grade"] == "12th", :]


###create dataframe of findings (including steps for pulling math scores by grade)

math_score_df = pd.DataFrame({"9th" : nineth_grade_data.groupby("School Name")["math_score"].mean(), 
                              "10th" : tenth_grade_data.groupby("School Name")["math_score"].mean(), 
                              "11th" : eleventh_grade_data.groupby("School Name")["math_score"].mean(),
                              "12th" : twelth_grade_data.groupby("School Name")["math_score"].mean()})

###format and display findings

math_score_df.style.set_caption("Average Math Score by Grade").format({
                            "9th" : "{:,.3f}", 
                           "10th" : "{:,.3f}", 
                           "11th" : "{:,.3f}", 
                           "12th" : "{:,.3f}"}).set_table_styles(styles)

---

Reading Scores by Grade
---

In [470]:
###create dataframe (including steps for pulling reading scores by grade)

reading_score_df = pd.DataFrame({"9th" : nineth_grade_data.groupby("School Name")["reading_score"].mean(), 
                                 "10th" : tenth_grade_data.groupby("School Name")["reading_score"].mean(),
                                 "11th" : eleventh_grade_data.groupby("School Name")["reading_score"].mean(),
                                 "12th" : twelth_grade_data.groupby("School Name")["reading_score"].mean()})

###format and display findings 

reading_score_df.style.set_caption("Average Reading Score by Grade").format({
                                                                        "9th" : "{:,.3f}", 
                                                                        "10th" : "{:,.3f}", 
                                                                        "11th" : "{:,.3f}", 
                                                                        "12th" : "{:,.3f}"}).set_table_styles(styles)

In [492]:

spending_labels = ["<$584", "$585-629", "$630-644", "$645-675"]

spending_bins = [0, 585, 629, 644, 675]

#bin the raw dataframes

spending_strat_df = school_data_complete_renamed

spending_passing_math = passing_math

spending_passing_reading = passing_reading

spending_passing_overall = passing_overall


spending_strat_df["per students spending"] = spending_strat_df["budget"]/spending_strat_df["size"]

spending_passing_math["per students spending"] = spending_passing_math["budget"]/spending_passing_math["size"]

spending_passing_reading["per students spending"] =spending_passing_reading["budget"]/spending_passing_reading["size"]

spending_passing_overall["per students spending"] = spending_passing_overall["budget"]/spending_passing_overall["size"]


spending_strat_df["Spending Ranges (Per Student)"] = pd.cut(spending_strat_df["per students spending"], 
                                                            spending_bins, labels=spending_labels, include_lowest=True)

spending_passing_math["Spending Ranges (Per Student)"] = pd.cut(spending_strat_df["per students spending"], 
                                                                spending_bins, labels=spending_labels, include_lowest=True)

spending_passing_reading["Spending Ranges (Per Student)"] = pd.cut(spending_strat_df["per students spending"], 
                                                                   spending_bins, labels=spending_labels, include_lowest=True)

spending_passing_overall["Spending Ranges (Per Student)"] = pd.cut(spending_strat_df["per students spending"], 
                                                                   spending_bins, labels=spending_labels, include_lowest=True)

---

Scores By School Spending
===

In [493]:
#define bins

spending_labels = ["<$584", "$585-629", "$630-644", "$645-675"]

spending_bins = [0, 583, 629, 644, 675]

#bin the raw dataframes

spending_strat_df = school_data_complete_renamed

spending_passing_math = passing_math

spending_passing_reading = passing_reading

spending_passing_overall = passing_overall


spending_strat_df["Spending Ranges (Per Student)"] = pd.cut((spending_strat_df["budget"]/spending_strat_df["size"]), 
                                                            spending_bins, labels=spending_labels, include_lowest=True)

spending_passing_math["Spending Ranges (Per Student)"] = pd.cut((spending_passing_math["budget"]/spending_passing_math["size"]),
                                                                spending_bins, labels=spending_labels, include_lowest=True)

spending_passing_reading["Spending Ranges (Per Student)"] = pd.cut((spending_passing_reading["budget"]/spending_passing_reading["size"]),
                                                                   spending_bins, labels=spending_labels, include_lowest=True)

spending_passing_overall["Spending Ranges (Per Student)"] = pd.cut((spending_passing_overall["budget"]/spending_passing_overall["size"]),
                                                                   spending_bins, labels=spending_labels, include_lowest=True)


### Stratify data by spending

spending_grouped_data = spending_strat_df.groupby("Spending Ranges (Per Student)")

spending_grouped_data_passing_math = spending_passing_math.groupby("Spending Ranges (Per Student)")

spending_grouped_data_passing_reading = spending_passing_reading.groupby("Spending Ranges (Per Student)")

spending_grouped_data_passing_overall = spending_passing_overall.groupby("Spending Ranges (Per Student)")

###create dataframe (inclusive of calculations steps)

spending_strat_summary_df = pd.DataFrame({
                         "Average Math Score" : spending_grouped_data["math_score"].mean(), 
                         "Average Reading Score" : spending_grouped_data["reading_score"].mean(),  
                         "% Passing Math" : spending_grouped_data_passing_math["Student ID"].count()/spending_grouped_data["Student ID"].count(),
                         "% Passing Reading" : spending_grouped_data_passing_reading["Student ID"].count()/spending_grouped_data["Student ID"].count(), 
                         "% Overall Passing" : spending_grouped_data_passing_overall["Student ID"].count()/spending_grouped_data["Student ID"].count()})

###format and display findings

spending_strat_summary_df.style.set_caption("Scores by Spending per Student").format({
                                                            "Average Math Score" : "{:,.3f}", "Average Reading Score" : "{:,.3f}", 
                                                            "% Passing Math": "{:,.2%}", "% Passing Reading": "{:,.2%}",
                                                            "% Overall Passing" : "{:,.2%}"}).set_table_styles(styles)

In [494]:
less_than_585 = spending_strat_df.loc[spending_strat_df["per students spending"] < 585, :]

less_than_585["math_score"].mean()

between_585_629 = spending_strat_df.loc[(spending_strat_df["per students spending"] >= 585) & 
                                        (spending_strat_df["per students spending"] <=629), :]

between_585_629["math_score"].mean()

between_630_644 = spending_strat_df.loc[(spending_strat_df["per students spending"] >= 630) &
                                        (spending_strat_df["per students spending"] <=644), :]

between_630_644["math_score"].mean()

77.82105635046811

---

Scores by School Size
---

In [500]:
#define bins

size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

size_bins = [0, 999, 2000, 5000]

#bin the raw dataframes

size_strat_df = school_data_complete_renamed

size_passing_math = passing_math

size_passing_reading = passing_reading

size_passing_overall = passing_overall

size_strat_df["School Size (No. of Students)"] = pd.cut(size_strat_df["size"], 
                                                        size_bins, labels=size_labels)

size_passing_math["School Size (No. of Students)"] = pd.cut(size_passing_math["size"], 
                                                            size_bins, labels=size_labels)

size_passing_reading["School Size (No. of Students)"] = pd.cut(size_passing_reading["size"], 
                                                               size_bins, labels=size_labels)

size_passing_overall["School Size (No. of Students)"] = pd.cut(size_passing_overall["size"], 
                                                               size_bins, labels=size_labels)

### Stratify data by school size

size_grouped_data = size_strat_df.groupby("School Size (No. of Students)")

size_grouped_data_passing_math = size_passing_math.groupby("School Size (No. of Students)")

size_grouped_data_passing_reading = size_passing_reading.groupby("School Size (No. of Students)")

size_grouped_data_passing_overall = size_passing_overall.groupby("School Size (No. of Students)")

###create dataframe (inclusive of calculations steps)

size_strat_summary_df = pd.DataFrame({
                    
    "Average Math Score" : size_grouped_data["math_score"].mean(), 
    "Average Reading Score" : size_grouped_data["reading_score"].mean(),  
    "% Passing Math" : size_grouped_data_passing_math["Student ID"].count()/size_grouped_data["Student ID"].count(),
    "% Passing Reading" : size_grouped_data_passing_reading["Student ID"].count()/size_grouped_data["Student ID"].count(), 
    "% Overall Passing" : size_grouped_data_passing_overall["Student ID"].count()/size_grouped_data["Student ID"].count()})

###format and display findings

size_strat_summary_df.style.set_caption("Scores by School Size").format({
                                                            
    "Average Math Score" : "{:,.3f}", "Average Reading Score" : "{:,.3f}", 
    "% Passing Math": "{:,.2%}", "% Passing Reading": "{:,.2%}",
    "% Overall Passing" : "{:,.2%}"}).set_table_styles(styles)

In [502]:
## verfiying by an alternative method

Altsize_strat_df = school_data_complete_renamed.loc[(school_data_complete_renamed["size"] > 1999) 
                                                    & (school_data_complete_renamed["size"] < 5000), :]

Alt_passing_overall = school_data_complete_renamed.loc[(school_data_complete_renamed["math_score"] >= 70) & 
                                                       (school_data_complete_renamed["reading_score"] >= 70), :] 

Altsize_passing_overall= Alt_passing_overall.loc[(Alt_passing_math["size"] > 1999) & (Alt_passing_math["size"] < 5000), :]

Avg_math_overall = Altsize_passing_overall["Student ID"].count()*100/Altsize_strat_df["Student ID"].count()

avg_math_overall

56.57404559280905

---

Scores by School Type
---

In [392]:
### Stratify data by school type

type_grouped_data = school_data_complete_renamed.groupby("School Type")

type_grouped_data_passing_math = passing_math.groupby("School Type")

type_grouped_data_passing_reading = passing_reading.groupby( "School Type")

type_grouped_data_passing_overall = passing_overall.groupby("School Type")

###create dataframe (inclusive of calculations steps)

type_summary_df = pd.DataFrame({
                         "Average Math Score" : type_grouped_data["math_score"].mean(), 
                         "Average Reading Score" : type_grouped_data["reading_score"].mean(),  
                         "% Passing Math" : type_grouped_data_passing_math["Student ID"].count()/type_grouped_data["Student ID"].count(),
                         "% Passing Reading" : type_grouped_data_passing_reading["Student ID"].count()/type_grouped_data["Student ID"].count(), 
                         "% Overall Passing" : type_grouped_data_passing_overall["Student ID"].count()/type_grouped_data["Student ID"].count()})

###format and display findings

type_summary_df.style.set_caption("Scores by School Type").format({
                                                            "Average Math Score" : "{:,.3f}", "Average Reading Score" : "{:,.3f}", 
                                                            "% Passing Math": "{:,.2%}", "% Passing Reading": "{:,.2%}",
                                                            "% Overall Passing" : "{:,.2%}"}).set_table_styles(styles)

In [379]:
#trying it another way - by creating a subset df only containing the charter schools data - gives the same result 

charter_df =school_data_complete.loc[school_data_complete["type"] == "Charter"] 

charter_df["math_score"].mean()

83.40618336886993

In [503]:
#same again for the mean reading score (as an example)

charter_df =school_data_complete.loc[school_data_complete["type"] == "Charter"] 

charter_df_passed_reading = charter_df.loc[charter_df["reading_score"] >= 70, :]

charter_percent_passed_reading = charter_df_passed_reading["Student ID"].count()*100/charter_df["Student ID"].count()

charter_percent_passed_reading

73.715

In [381]:
 type_grouped_data["math_score"].mean()

School Type
Charter     83.406183
District    76.987026
Name: math_score, dtype: float64

In [382]:
district_df = school_data_complete_renamed.loc[school_data_complete_renamed["School Type"] == "District"]

district_df["math_score"].mean()

76.98702550415184

In [383]:
 type_grouped_data["Student ID"].count()

School Type
Charter     12194
District    26976
Name: Student ID, dtype: int64

In [384]:
district_df["Student ID"].count()

26976

In [385]:
type_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.406183,83.902821,0.937018,0.966459,0.905609
District,76.987026,80.962485,0.665184,0.809052,0.536959